body {
    margin: 30px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon {
    background: url(../icons/search.png);
    height: 20px;
    width: 20px;
    /* Other styles here */
}

.sectiont {
    background-image:
        linear-gradient(0deg, rgba(240,217,137,0.8982300884955752) 0%, rgba(233,131,131,1) 100%),
        url(../images/eagle.jpg);
        width: 100%;
        height: 550px;
          background-repeat: no-repeat;
          background-position: center;
    }

.banner-center{
padding-top: 10px;
padding-left:100px;
padding-right:100px;
}

.header__image{
      display: grid;
      justify-content: center;
      align-content: center;
}


.navigation{
        display: grid;
        grid-template-columns: 7fr repeat(6, 1fr);
        grid-template-rows: 0.5fr;
        gap: 1px 10px;
        grid-template-areas:
          ". . . . . .";
        justify-items: stretch;
}

a{
text-decoration: none;
}

ul{
list-style-type: none;
padding-inline-start: unset;
}

.navigation__item-logo{
justify-self: start;
}

.banner{
      display: grid;
      justify-content: center;
}

.section-heading{
      display: grid;
      justify-content: center;
}

h1{
      text-align: center;
      margin-bottom: 10px;
}

h2{
      text-align: center;
      padding-bottom: 25px;
      margin-top: 0px;
      width:100%;
      border-bottom: solid 2px #FF0000;
}

h3{
    margin: 0px;
}

.footer-container{
      display: grid;
      grid-template-columns: auto auto auto;
}
.lorem{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2fr 1fr;
}
.photos{
      display: grid;
      grid-template-columns: auto auto auto;
}

img{
width: 40px;
height: 40px;
}

.containerd {  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  gap: 1px 10px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "icon title"
    "icon p";
}

.icon { grid-area: icon;
 }

.title { grid-area: title; }

.p { grid-area: p; }
