html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.header-container{
      display: grid;
      justify-content: center;
}
.navigation{
      display: grid;
      grid-column: 1/2;
      grid-template-columns: 1fr repeat(6, fit-content(1000px));
      grip-gap: 50px;
      justify-content: center;
      justify-items: end;
      width: 1000px;
}

.navigation__item-logo{
justify-self: start;
}

.footer-container{
      display: grid;
      grid-template-columns: auto auto auto;
}
.lorem{
      display: grid;
      grid-template-columns: auto auto auto;
}
.photos{
      display: grid;
      grid-template-columns: auto auto auto;
}